 <div class="col-md-6 col-md-offset-3">
		<font size="15">
		<h1>Evenement :</h1>
		<h1><%= @event.description %></h1>
		<h1>Endroit :</h1>
		<h1><%= @event.place %></h1>
		<h1>Date :</h1>
		<h1><%= @event.date %></h1>
		<%=   %>
		<%=  %>
	<h2> pour voir tous les evenements </h2><%= link_to 'Liste!', events_path %></h2>
	<h2> retour à l accueil </h2><%= link_to 'Accueil!', root_path %></h2>

	<div>
</div>